[Unit]
Description=Nomad
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/nomad agent -config /etc/nomad.d
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
RestartSec=10
TasksMax=infinity
LimitNOFILE=infinity
LimitNPROC=infinity

[Install]
WantedBy=multi-user.target
